@import '@/assets/_color.scss';

#card_first {
  width: 25%;
  padding: .5rem;
  cursor: pointer;
  .card_image {
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .card_title { font-size: .8rem; }
  .card_created { font-size: .7rem; color: $color_7575; }
}